{
    "root": true,
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
    "parser": "@typescript-eslint/parser",
    "plugins": ["import", "@typescript-eslint"],
    "env": {
        "browser": true
    },
    "globals": {},
    "ignorePatterns": ["node_modules"],
    "rules": {
        "semi": 2,
        "max-len": 0,
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "ts": "never"
            }
        ]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".ts"]
            }
        }
    }
}
